/* header principal */

.site_header_inicio {
    background: url(/bvb/background\ de\ pagina.jpg);
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}


/* enlaces */

.navegacion a {
    font-size: 25px;
    color: goldenrod;
    text-decoration: none;
    margin-right: 18px;
    justify-content: right;
}


/* barra dentro del header */

.barra {
    display: flex;
    justify-content: space-evenly;
    padding-top: -0px;
}

.tituloh1 {
    font-size: medium 25px;
    color: black;
    display: flex;
}

.margen {
    margin: -20px;
}

.fondoseccion {
    background-color: rgb(255, 238, 0);
}